

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    position: relative;
}

.nav{
    position: relative;
    width: 38%;
    height: 100%;
    left: -31%;
    align-items: center;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.rza {
    color: black;
    right: 80%;
    position: absolute;
    font-family: DejaVu Sans Mono, monospace;
}

.HomeBtn {
    color: black;
    position: absolute;
    left: 70%;
    font-family: DejaVu Sans Mono, monospace;
}

.LoginBtn {
    color: black;
    position: absolute;
    left: 76%;
    font-family: DejaVu Sans Mono, monospace;
}


.BookBtn {
    font-family: DejaVu Sans Mono, monospacef;
    color: black;
    right: 400px;
    position: relative;
    width: 10%;
    background-color: black;
    color: white;
    padding: 12px 6px;
    margin: 2px 0;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    position: absolute;
    left: 88%;
}

    .BookBtn:hover {
        background-color: #333333;
        color: white;
    }


.FAQs {
    font-family: DejaVu Sans Mono, monospace;
    color: black;
    position: absolute;
    left: 82%;
}