@inherits LayoutComponentBase
@using MudBlazor
@inject NavigationManager _nav
@inject NavigationManager NavigationManager


<div class="page">

    <main>
         <div class="top-row px-4">
            <a href="/Login" target="_self" id="loginBtn">Login</a>
            <a href="/register" target="_self" id="loginBtn">Register</a>
            <form action="/">
                <input type="submit" value="Home" class="HomeBtn" />
            </form>
        </div>  
        



        <article class="content px-4">
            @Body
        </article>
    </main>
</div>




