@page "/"
@using MudBlazor
@rendermode InteractiveServer
@inject NavigationManager NavigationManager

<html>
<head>
    
    <style>
        .cont{
            height: 500px;
            width: 500px;
            background-color: black;
            position: center;
        }
            
    </style>
</head>
<body>

    
    <div class="cont"></div>

</body>
</html>
