@using website2.Services
@rendermode InteractiveServer
@page "/login"
@using website2.Models
@inject website2.Services.CustomerService CustomerService
@inject NavigationManager NavigationManager

<PageTitle>Login</PageTitle>

<EditForm Model="newCustomer" onValidSubmit="HandleValidSubmit" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Username</label>
        <InputText @bind-Value="newCustomer.Username" />

        <label>Password</label>
        <InputText @bind-Value="password" type="password"/>
    </div>

</EditForm>

@code {
    private Customer newCustomer = new Customer();
    private string password;

    private async Task HandleValidSubmit()
    {
        newCustomer.Password = password;
        newCustomer = await CustomerService.LogIn(newCustomer);
        if (newCustomer == null)
        {
            Console.WriteLine("error");
        }
        else
        {
            #region Hidden
            //NavigatonManager.NavigateTo("/account");
        }
    }
}