@using website2.Services
@page "/login"
@using webstie2.Models

@inject website2.Servives.CustomerService CustomerService
@inject NavigationManager NavigationManager

@rendermode InteractiveServer

<h3>login</h3>

<EditForm Model="newCustomer" onValidSubmit="HandleValidSubmit" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <form>
        First Name<br />
        <input type="text"
               id="firstName"
               name="firstName"
               maxlength="15"
               minlength="4"
               placeholder="enter First Name"
               required
               @bind=newCustomer.FirstName><br />
        <br />

        Last Name<br />
        <input type="text"
               id="LastName"
               name="LastName"
               maxlength="15"
               minlength="4"
               placeholder="enter Last Name"
               required
               @bind=newCustomer.FirstName><br />
        <br />

        username<br />
        <input type="text"
               id="username"
               name="username"
               maxlength="15"
               minlength="4"
               placeholder="enter username"
               required
               @bind=newCustomer.Username><br />
        <br />

        password<br />
        <input type="password"
               id="password"
               maxlength="20"
               minlength="6"
               placeholder="enter password"
               required
               @bind=newCustomer.Password>
        <br />



        email<br />
        <input type="email"
               id="email"
               name="emails"
               placeholder="enter email">
        <br />

        <button @onclick=@RegisterCustomer class="button">Submit</button>
    </form>
</EditForm>